<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/demo.css">
</head>
<body>
    <div class="site-bg"></div>

    {% include navigation.html %}

    <main class="main-content">
        {{ content }}
    </main>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="/assets/js/demo.js"></script>
</body>
</html>
